.hp-card-interactive {
    @apply border-outline-light dark:border-outline-dark hover:bg-elevation-05dp/32 hover:border-outline-high/32;
}

.hp-card-variant-solid {
    @apply bg-elevation-surface/32 backdrop-blur-md;
}

.hp-card-title {
    @apply text-2xl font-bold;
}

.hp-card-body {
    @apply justify-center gap-y-4;
}
