.hp-section-title {
    @apply text-text-medium relative mt-3 flex w-fit bg-transparent font-semibold;
}

.hp-section-title.hp-section-title-size-lg {
    @apply text-base sm:text-2xl lg:text-2xl;
}

.hp-section-title::after {
    content: '';
    @apply bg-icon-high absolute -top-3 right-0 left-0 h-1.5 w-full rounded-full;
}
