*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
.pint.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.rector.result.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/css
/public/fonts
/public/js
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
_ide_helper.php
_ide_helper_models.php
tests/Browser/Screenshots
/.composer
boost.json
.junie
.ai
.output.txt
.github/git-commit-instructions.md
.github/copilot-instructions.md
