.hp-badge {
    @apply bg-elevation-01dp border-outline-dark flex shrink-0 items-center justify-center overflow-hidden rounded-md border;
}

.hp-badge {
    @apply group-hover:bg-elevation-05dp transition duration-500;
}

.hp-badge-size-sm {
    @apply h-10 w-10;
}

.hp-badge-size-lg {
    @apply h-14 w-14;
}
