.hp-icon {
    @apply shrink-0 stroke-2;
}

.hp-icon-size-xs {
    @apply h-3.5 w-3.5;
}

.hp-icon-size-sm {
    @apply h-4 w-4;
}

.hp-icon-size-md {
    @apply h-5 w-5;
}

.hp-icon-size-lg {
    @apply h-6 w-6;
}
