.hp-section {
    @apply mb-25 flex min-h-[82vh] scroll-mt-20 flex-col items-center justify-center sm:mb-30 sm:min-h-[85vh] lg:scroll-mt-8;

    .hp-container {
        @apply container flex flex-col items-center justify-center space-y-12 p-8 lg:p-0;
    }
}
