.hp-tag {
    @apply inline-flex h-fit w-fit items-center gap-2;
    @apply rounded-md border;
    @apply font-medium;
    @apply transition-colors duration-200;
    @apply disabled:pointer-events-none disabled:opacity-60;
    &[aria-disabled='true'] {
        @apply pointer-events-none opacity-60;
    }
}

.hp-tag-solid {
    @apply bg-elevation-01dp border-primary-400;
    @apply text-text-high;
    @apply hover:bg-primary-400/90;
}

.hp-tag-outline {
    @apply bg-primary/8 border-primary/32;
    @apply text-text-medium;
    @apply hover:bg-primary/32;
}

.hp-tag-ghost {
    @apply border-none bg-transparent;
    @apply text-text-medium;
    @apply px-0 py-0;
}

.hp-tag-ghost.hp-tag-size-xs,
.hp-tag-ghost.hp-tag-size-sm,
.hp-tag-ghost.hp-tag-size-md,
.hp-tag-ghost.hp-tag-size-lg {
    @apply px-0 py-0;
}

.hp-tag-size-xs {
    @apply text-xs;
    @apply px-1.5 py-0.75;

    & .hp-icon {
        @apply h-4 w-4;
    }
}

.hp-tag-size-sm {
    @apply gap-0.5 text-sm;
    @apply px-2 py-1;

    & .hp-icon {
        @apply h-4 w-4;
    }
}

.hp-tag-size-md {
    @apply text-base;
    @apply px-2.5 py-1.5;
}

.hp-tag-size-lg {
    @apply text-lg;
    @apply px-3 py-2;
}

.hp-tag-rounded-sm {
    @apply rounded-sm;
}

.hp-tag-rounded-md {
    @apply rounded-md;
}

.hp-tag-rounded-lg {
    @apply rounded-lg;
}

.hp-tag-rounded-xl {
    @apply rounded-xl;
}

.hp-tag-rounded-full {
    @apply rounded-full;
}

.hp-tag-size-xs {
    @apply text-xs;
    @apply px-1.5 py-0.75;

    &.hp-tag-rounded-full {
        @apply px-3;
    }
}

.hp-tag-size-sm {
    @apply text-sm;
    @apply px-2 py-1;

    &.hp-tag-rounded-full {
        @apply px-3.5;
    }
}

.hp-tag-size-md {
    @apply text-base;
    @apply px-2.5 py-1.5;

    &.hp-tag-rounded-full {
        @apply px-4;
    }
}

.hp-tag-size-lg {
    @apply text-lg;
    @apply px-3 py-2;

    &.hp-tag-rounded-full {
        @apply px-5;
    }
}
