.hp-text {
    @apply text-text-medium font-medium;
}

.hp-text-size-xs {
    @apply text-xs;
}

.hp-text-size-sm {
    @apply text-sm;
}

.hp-text-size-md {
    @apply text-sm sm:text-base;
}

.hp-text-size-lg {
    @apply text-base sm:text-lg;
}

.hp-text-size-2xl {
    @apply text-2xl;
}
