.ticket-wrapper {
    @apply relative z-[10] rounded-2xl border-6 p-0 sm:rounded-3xl;
}

.ticket-wrapper::before {
    content: '';
    @apply bg-elevation-surface border-outline-dark absolute z-[20] block rounded-full border-6;
    @apply aspect-square h-auto w-[11%] min-w-16;
    @apply top-1/2 -translate-y-1/2;
    @apply left-0 -translate-x-[60%];
}

.ticket-wrapper::after {
    content: '';
    @apply bg-elevation-surface border-outline-dark absolute z-[20] block rounded-full border-6;
    @apply aspect-square h-auto w-[11%] min-w-16;
    @apply top-1/2 -translate-y-1/2;
    @apply right-0 translate-x-[60%];
}

.ticket-content {
    @apply z-[10] grid h-full w-full rounded-[20px] lg:grid-cols-[4fr_1fr];
}

.ticket-profile {
    @apply flex h-full flex-col justify-between gap-12 p-8 pl-12;
}

.ticket-profile-content {
    @apply grid grid-cols-1 items-center justify-items-center gap-4 px-2 sm:grid-cols-[auto_1fr] sm:justify-items-start sm:px-8 lg:p-2;
}

.ticket-profile-text {
    @apply flex flex-col items-center justify-center gap-4 sm:items-start;
}

.ticket-profile-username {
    @apply flex items-center gap-2;
}

.ticket-event {
    @apply grid grid-cols-2 items-center gap-10 px-2 text-center sm:px-8 sm:text-start lg:p-2;
}

.ticket-number-col {
    @apply relative flex items-center justify-center overflow-hidden p-8 lg:p-4;
    @apply border-outline-dark w-full border-t border-dashed lg:border-l-2;
}

.ticket-number {
    @apply ml-3 text-center font-black whitespace-nowrap text-white lg:mr-4;
    @apply absolute inline-block origin-center lg:rotate-90;
}
