@import './fonts.css';
@import './themes.css';

@theme inline {
    --font-family-primary: Satoshi, sans-serif;
    --font-family-secondary: LD Proxy Mono, sans-serif;
    --font-family-code: Fira-Code, monospace;

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
}
