@import './support/index.css';

@import './components/headline.css' layer(components);
@import './components/button.css' layer(components);
@import './components/card.css' layer(components);
@import './components/section-title.css' layer(components);
@import './components/section.css' layer(components);
@import './components/heading.css' layer(components);
@import './components/partials/footer.css' layer(components);

.fi-topbar {
    @apply ring-1;
}

.fi-page-content {
    @apply bg-elevation-surface bg-none;
}
