.fi-sidebar-item {
    & .fi-sidebar-item-btn {
        @apply relative hover:bg-transparent;

        & .fi-sidebar-item-label {
            @apply text-text-high font-bold;
        }

        &::after {
            content: '';
            @apply bg-primary absolute bottom-0 left-0 h-0.5 w-full;
            @apply origin-left scale-x-0 transform;
            @apply transition-transform duration-200 ease-in-out;
        }

        &:hover::after {
            @apply scale-x-100;
        }
    }
}
