.fi-sidebar-item {
    & .fi-sidebar-item-btn {
        @apply relative bg-transparent hover:bg-transparent!;
        @apply pl-4;

        & .fi-sidebar-item-label {
            @apply text-text-high font-bold;
        }

        &::after {
            content: '';
            @apply absolute top-0 left-0 h-full w-1;
            @apply bg-primary rounded-r-md;
            @apply origin-top scale-y-0 transform;
            @apply transition-transform duration-200 ease-in-out;
        }
    }

    &:not(.fi-active) .fi-sidebar-item-btn:hover::after {
        @apply scale-y-100;
    }

    &.fi-active .fi-sidebar-item-btn {
        @apply bg-transparent;

        &::after {
            @apply scale-y-100;
            @apply bg-icon-medium;
        }
    }

    &.fi-active .fi-sidebar-item-btn:hover {
        @apply bg-transparent;
    }
}
