.term-prose {
    font-size: var(--text-base);

    h1:where(:not(.fi-not-prose, .fi-not-prose *)) {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-normal);
    }

    h2:where(:not(.fi-not-prose, .fi-not-prose *)) {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-normal);
    }

    h3:where(:not(.fi-not-prose, .fi-not-prose *)) {
        font-size: var(--text-base);
        font-weight: var(--font-weight-normal);
    }

    h4:where(:not(.fi-not-prose, .fi-not-prose *)),
    h5:where(:not(.fi-not-prose, .fi-not-prose *)),
    h6:where(:not(.fi-not-prose, .fi-not-prose *)) {
        font-size: var(--text-sm);
        line-height: calc(28 / 14);
        color: var(--prose-heading-color);
        font-weight: var(--font-weight-normal);
    }

    :is(h2, h3, h4, h5, h6):where(:not(.fi-not-prose, .fi-not-prose *)) {
        @apply font-family-secondary font-normal;
    }
}
